@page "/services"
<h3>Services</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/services/create">New Service</a>
</div>

<GenericList MyList="Services">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
               
                @foreach (var service in Services!)
                {
                    <tr>
                        <td>
                            @service.Name
                        </td>
                        <td>
                            @service.Description
                        </td>
                        <td>
                            @service.Price
                        </td>
                        <td>
                            <a class="btn btn-warning" href="/services/edit/@service.Id">Edit</a>
                            <button class="btn btn-danger" @onclick=@(()=> DeleteAsync(service))>Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>
